{% extends 'base.html' %}


{% load static %}
{% block title %}
    Advance Search
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/filter.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">

{% endblock head %}


{% block body %}
<section><div class="container text-center" style="height: 50px;">
    <div class="row">
        <div class="col">
            <div class="container text-center">
        <h5 style="font-family:Garamond, serif;font-size:50px;font-style:italic;text-decoration: underline;">Coming Soon</h5>

    </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
             <div class="text-center d-block word2" style="color: white; font: 700 normal 2.5em '';"></div>
            </div>
        </div>
    <div class="col">

             <span style='font-size:100px;'>&#128551;</span>
                </div>
            </div>
    </div>
     <div class="container text-center">




</div></section>



{% endblock %}

{% block footer %}
hidden
{% endblock footer %}


